Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-alpha*,

  bugprone-*,
  cert-*,
  security-*,

  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,

  performance-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,

  readability-*,
  misc-*,
  -misc-non-private-member-variables-in-classes

WarningsAsErrors: "bugprone-*,cert-*,security-*"

HeaderFilterRegex: ".*"
ExcludeHeaderFilterRegex: ""

FormatStyle: file

ExtraArgs:
  - -std=c++23
